# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
objectgenerator.py
*.iml

# Virtualenv
venv/
env/
ENV/
env.bak/
.venv/

# Django
media/
staticfiles/
lab1/settings.py

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.gitignore